.btn {
    height: 38px;
    border-radius: 0.25rem;
}

.form-control {
    height: 38px;
}

.modal .modal-dialog {
    margin-top: 1.75rem;
}

.card {
    border-radius: 0.5rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #9e9e9e21 !important;
}

.table td {
    white-space: unset;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

table td {
    line-height: 1.5 !important;
}

.navbar {
    box-shadow: none !important;
}




/* TOM SELECT CUSTOM START */
.ts-control {
    border-radius: 0.375rem;
    line-height: 1.5 !important;
    font-size: 0.9375rem !important;
    padding: 0.5rem 1rem !important;
}

/* TOM SELECT CUSTOM END */




/* DATATABLE CUSTOM START */
#myTable_filter input {
    height: 29.67px !important;
}

#myTable_length select {
    height: 29.67px !important;
}

.btn {
    border-radius: 50px !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #9e9e9e21 !important;
}

/* Mengatur ukuran dan margin panah sorting di DataTables */
table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::after {
    margin-bottom: 5px !important;
    content: "▲" !important;
    top: 7px !important;
}

table.dataTable thead .sorting::before,
table.dataTable thead .sorting_asc::before,
table.dataTable thead .sorting_desc::before {
    margin-top: -5px !important;
    content: "▼" !important;
    bottom: 7px !important;
}

/* DATATABLE CUSTOM END */



/* SELECT2 CUSTOM START */
.select2-container .select2-selection--single {
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

/* SELECT2 CUSTOM END */


@media (max-width: 768px) {

    .card,
    .card-body {
        background: none !important;
        box-shadow: none !important;
        padding: 0 !important;
        border: none !important;
    }

    .table-striped>tbody>tr {
        background-color: #ffffff !important;
    }

    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: #ffffff !important;
    }

    table td:first-child {
        display: none !important;
    }

    table thead {
        display: none;
    }

    table.dataTable.dtr-inline.collapsed>tbody>tr>td.child {
        border: none !important;
        padding: 5px 10px !important;
        background: transparent !important;
    }

    table.dataTable td {
        border: none !important;
    }

    table.dataTable tbody td {
        padding: 4px 10px !important;
    }

    table tbody tr {
        display: block;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 10px;

        background: #f8f9fa !important;
    }

    table tbody td {
        display: block !important;
        padding: 5px 10px !important;
    }

    table tbody td:before {
        content: attr(data-label);
        font-weight: bold;
    }

    /* Perkecil ukuran icon */
    .aksi-btn i {
        font-size: 1.1rem !important;
    }



    /* Khusus row aksi, hilangkan label */
    table tbody td:last-child:before,
    table tbody td:nth-last-child(2):before {
        content: "" !important;
    }

    .fab-add {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #0d6efd;
        color: white;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        z-index: 999;
    }

    .fab-add:hover {
        background-color: #0b5ed7;
    }

}